*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: #171836;
    font-size: 14;
    font-weight: normal;
    font-family: 'Roboto';
    font-style: normal;
}
.container{
    color: white;
    max-width: 1210px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 175px;   
}
.header .container{
    margin-bottom: 0px;
}
.menu{
    position: relative;
    display: flex;
    justify-items: center;
    text-align: center;    
}
.menu__icon{
    justify-content: center;
    padding: 15px;
    margin: 0 auto;
}
.menu__nav{
    justify-content: center;       
    padding-left: 15%;
    padding-top: 15px;
}
.menu__nava{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);     
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-right: 44px;
    padding: 15px;
}
.menu__nava:first-child{
    color: white;
    font-weight: 500;
}
.menu__button{
    position: absolute;
    text-decoration: none;
    border: none;
    outline: none;
    right: 0%;
    padding: 12px 32px;
    background: #F5443B;
    color: white;
    border-radius: 6px;
    width: 102px;
    height: 41px;
}
.menu__button:hover{
    border: 3px solid #171836;;
}
.hero{    
    position: relative;
    display: flex;
    justify-content: space-between;
}
.hero__imgs{
    max-width: 60%;
}
.hero__girl{
    position: relative;
    left: -10%;
    margin-top: 6%;
    z-index: 1;
}
.hero__icon2{
    z-index: 3;    
    position: absolute;
    left: 0;
    top: 28%;
}
.hero__book2{
    position: absolute;
    height: 90px;
    width: 90px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
    border-radius: 20px;
    transform: rotate(12.79deg);
    right: 0;
    bottom: 100%; 
}
.hero__book{
    height: 48.75px;
    width: 56.25px;
    z-index: 2;
    margin: 17px;
}
.hero__lighter{
    position: relative;
    height: 90px;
    width: 90px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
    border-radius: 20px;
    transform: rotate(-8.82deg);
    margin-right: 500px;
    bottom: 0;
    left: 0;   
}
.hero__lighterbulb{
    height: 59.62px;
    width: 56.82px;
    z-index: 2;
    margin: 17px;    
}
.student__photos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;     
    padding: 20px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
    border-radius: 20px;  
    max-width: 363px;
    right: -46px;
    bottom: -450px;
}
.student__photo{
    position: relative;
    margin: -10px;
    padding-top: 10px;
}

.student__photos p{
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    margin-left: 16px;
    max-width: 111px;    
}
.hero__student span{
    color: red;
}
.student__btn{
    position: relative;
    background: #8087B8;
    border: 1px solid #6668AA;
    box-sizing: border-box;
    border-radius: 50%;
    padding-bottom: 13px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    bottom: -3px;
    margin: -10px;  
}
.student__btn:hover{
    box-shadow: inset 0 0 0 23px #53ea93;
}
.hero__text{
    position: relative;
    display: block;
    margin-top: 10%;
    max-width: 100%;
}
.hero__text h1{
    flex: 1;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);   
}
.hero__text h3{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 15px;
    margin-bottom: 56px;
}
.hero__search {
    display: flex;
    align-items: center;    
    padding: 22px 0 22px 32px;        
    border-radius: 16px;
    background: #1F2143;
    border: none;
    margin-bottom: 48px;   
}
.hero__searchline{
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 472px; 
    line-height: 150%;
    background: #1F2143;
    border: none;   
    color: white;
       
}
.hero__searchline:focus{
    outline: none;
}
.hero__searchbutton{
    position: absolute;
    right: 10px;
    padding: 10px;
    border: 2px solid #282B57;
    outline: none; 
    background: #282B57;
    border-radius: 6px;
}
.hero__search button:hover{
    border: none;
}
.hero__suggestions{    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;    
}
.hero__suggestions span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color:rgba(154, 156, 203, 0.6);
    border: 1px solid rgba(154, 156, 203, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 12px
}
.info{
    display: flex;
    justify-content: space-between;
}
.info__item{
    display: flex;
    margin-right: 14px;
}
.info__logo{
    margin-right: 10px;
}
.info__text{
    padding-top: 5%;
}
.info span{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 21px;
}
.info p{
    text-align: justify;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.6);
}
.intro{
    text-align: center;
}
.intro h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}
.intro p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 84px;
}
.teachers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    min-height: 510px;
}
.teachers__direct{
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
    border-radius: 20px;
    border: 3px linear-gradient(rgba(50, 52, 101, 0.5), rgba(50, 52, 101, 0.15));
    padding: 12px;    
}
.teachers__btn1{
    display: block;
    position: relative;
    bottom: 50px;
    left: 24px;    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    
}
.teachers__mentor{
    display: flex;
}
.textmentor{
    display: block;
}
.teachers h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #3BF5BD;
}
.teachers h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}
.teachers p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 20px;
    max-width: 250px;   
}
.teachers__mentor{
    margin-top: 20px;
}
.teachers__mentor img{
    margin-right: 15px;
}
.teachers__mentor-text h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}
.teachers__mentor-text span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
}

.teachers__select{
    padding: 12px 32px;
    background: #F5443B;
    border-radius: 6px;
    color: white;
    margin: 25px 50px;      
    display: none;  
}
.teachers__direction:hover .teachers__select{
    display: block;  
}
.intro__btnshow{
    text-align: center;    
    padding: 16px 32px;
    background: #171836;
    border: 1px solid rgba(245, 68, 59, 1);
    box-sizing: border-box;
    border-radius: 6px;
    color: rgba(245, 68, 59, 1);   
} 
.socmedia__feedback{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;    
}
.socmedia__social{
    display: flex;
}
.socmedia__social a{
    margin-right: 40px;
    margin-top: 25px;
}
.footer .container{
    margin-bottom: 0;
    padding: 15px;    
} 
.copyright{
    text-align: center;
    margin-top: 125.5px;
    padding-bottom: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F91D0;
}
@media (max-width: 991px){
    /* .header{
        padding-left: 5%;
    }
    .main{
        padding-left: 5%;
    }
    .footer{
        padding-left: 5%;
    } */
    .hero__imgs{
        display: none;
    }
    .hero__text{
        max-width: 100%;
    }
    .teachers{
        justify-content: center;
        flex-wrap: wrap;
    }
    .teachers__direction{
        padding-left: 20px;
        padding-bottom: 20px;
        min-height: 550px;
    }
    .info{
        display: block;
    }
    .info__text{
        padding-top: 0%;
    }
    .info__item{
        margin-bottom: 5%;
    }
    .menu__nav{
        padding-left: 0%;
    }
    .menu__nava{
        margin-right: 0px;
    }
    .socmedia{
        text-align: center;
    }
    .socmedia__social{
        justify-content: center;
    }
}
@media (max-width: 575px) {
     /* .header{
        padding-left: 5%;
    }
    .main{
        padding-left: 5%;
    }
    .footer{
        padding-left: 5%;
    } */
    .hero__imgs{
        display: none;
    }
    .hero__text{
        max-width: 100%;
    }
    .teachers{
        justify-content: center;
        flex-wrap: wrap;
    }
    .teachers__direction{
        padding-left: 20px;
    }
    .menu__nav{
        padding-left: 0%;
    }
    .menu__nava{
        margin-right: 0px;
        padding: 5px;
    }
    .info{
        display: block;
    }
    .info__item{
        margin-bottom: 15px;
    }
    .info__text{
        padding-top: 0%;
    }
    .socmedia{
        text-align: center;
    }
    .socmedia__social{
        justify-content: center;
    }
}